@{
    ViewData["Title"] = "Home Page";
}


<h1>Demo</h1>

<p>
    Download source code from <a class="btn btn-default" href="https://github.com/imrichszolik/sba-sample">GitHub</a> or clone repository
    <br />
    <br />
    <code>
        git clone https://github.com/imrichszolik/sba-sample.git sample
    </code>
</p>

<br/>
