@{
    ViewData["Title"] = "Home Page";
}


<h1>Demo</h1>

<p>
    Download source code from <a class="btn btn-default" href="https://github.com/imrichszolik/sba-sample">GitHub</a> or clone repository
    <br />
    <br />
    <code>
        git clone https://github.com/imrichszolik/sba-sample.git sample
    </code>
</p>

<br />

<p>
    API C# generator <a class="btn btn-default" href="https://github.com/Azure/autorest">AutoRest</a>

    <br />
    <br />
    <code>
        autorest --input-file=D:\Temporary\swagger.json --csharp --namespace=Lomtec.Proxy.Client --output-folder=D:\Temporary\api-generator --add-credential
    </code>

</p>

<br/>
